body {
  padding: 20px;
  background: url(/static/images/body-bg.png);
}

ul.errorlist {
    margin: 0;
    padding: 0;
    width:100%;
    list-style-type: none;
}

.errorlist li {
    color: red;
    font-weight: bold;
}

#profile_photo {
    max-width: 300px;
}
