<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{STATIC_URL}}css/bootstrap-2.0.2.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet" media="screen">
    {% block head %}
    {% endblock %}
</head>

<body>
<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="{% url home %}">{% trans "Home" %}</a></li>
        <li>
            {% if request.user.is_authenticated %}
                <a href="{% url logout %}?next=/">{% trans "Log out" %}</a> 
            {% else %}
                <a href="{% url login %}?next=/">{% trans "Log in" %}</a>
            {% endif %}
        </li>
 
    </ul>
    <h2 class="muted">42 Coffee Cups Test Assignment</h2>
</div>

{% block content %}
The content of the document.
{% endblock %}

<hr />
<a href="{% url first_requests %}">Requests</a>

</body>
</html>
