{% extends "base.html" %}

{% block content %}
<h2>List of the first {{limit}} requests</h2>


<table class="table table-bordered">
  <caption>List of the first {{limit}} requests</caption>
  <thead>
    <tr>
      <th>Request</th>
      <th>Priority</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for r in request_list %}
       <tr>
           <td>{{ r }}</td>
           <td>{{ r.get_priority_display }}</td>
           <td>{{ r.created }}</td>
       </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
