{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="control-group error">
  <span class="help-inline">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <strong>{{ error|escape }}</strong>
        {% endfor %}
    {% endif %}
  </span>  
</div>
<form action="" method="post" id="login-form" class="form-horizontal">{% csrf_token %}
  <div class="control-group{% if form.username.errors %} error{% endif %}">
      <label for="id_username" class="control-label">{% trans 'Username:' %}</label> 
    <div class="controls">
        {{ form.username }}
        <span class="help-inline">
            {% for error in form.username.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
        </span>
    </div>
  </div>
  <div class="control-group{% if form.password.errors %} error{% endif %}">
    <label for="id_password" class="control-label">{% trans 'Password:' %}</label> 
    <div class="controls">
      <input type="hidden" name="next" value="{{ next }}" />
      {{ form.password }}
      <span class="help-inline">
          {% for error in form.password.errors %}
              <strong>{{ error|escape }}</strong>
          {% endfor %}
      </span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <label>&nbsp;</label>
        <input type="submit" value="{% trans 'Log in' %}" class="btn" />
    </div>
  </div>
</form>
{% endblock %}
